body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    font-family: "Roboto", sans-serif;
}

.fatboy {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.header {
    display: flex;
    height: 50px;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding-left: 128px;
    padding-right: 128px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    margin: 0;
    font-size: 18px;
    padding-inline-start: 0px;
    list-style-type: none;
    gap: 10px;
}

.top-links {
    display: flex;
    text-decoration: none;
    color: #E5E7EB;
}

.title-content {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.title-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 48px;
}

.title-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    width: 400px;
    background-color: grey;
    text-align: center;
}

.title-header, .title-subtext, .sign-up-a {
    margin: 4px;
}

.sign-up-a {
    display: flex;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border-color: #3882F6;
    height: 24px;
    width: 72px;
    padding: 2px;
    justify-content: center;
}

.title-header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.title-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.third-container {
    background-color: white;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.random-info {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 24px;
    flex-shrink: 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    flex: 1;
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 24px;
    width: 141px;
    flex-shrink: 1;
}

.card-text {
    padding: 12px;
}

.insp-quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.light-container {
    font-size: 36px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 8px;
    font-style: italic;
    font-weight: 100;
}

.quote-author {
    text-align: end;
    padding-right: 48px;
}

.cta-background {
    background-color: white;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.cta-container {
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
}

.call-to-action {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: max-content;
    background-color: #3882F6;
    justify-content: flex-start;
    padding: 48px;
}

.action-text {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.action-subtext {
    color: white;
}

.button-b {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    padding: 48px;
}

.sign-up-b {
    border-color: white;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    height: 24px;
}

.footer-container {
    display: flex;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: center;
}

.footer {
    color: white;
    text-align: center;
}