body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header, ul, .title-content, .random-info {
    display: flex;
}

.header {
    background-color: #1F2937;
    justify-content: space-between;
    padding: 24px;
}

ul {
    font-size: 18px;
    list-style-type: none;
    gap: 10px;
}

.top-links {
    text-decoration: none;
    color: #E5E7EB;
}

.random-info {
    justify-content: center;
}