body {
    display: flex;
    flex-direction: column;
}

.header, ul, .title-content, .random-info {
    display: flex;
}

.header {
    justify-content: space-between;
}

ul {
    list-style-type: none;
    gap: 10px;
}

.random-info {
    justify-content: center;
}